# ==================================================
# c++ 编译产生可执行文件
# ==================================================
*.exe

# ==================================================
# IDE 配置文件
# ==================================================
# vscode
.vscode/